.main-view {
    margin-top: 20px;
    margin-bottom: 20px;
}
body {
    font-family: "microsoft yahei","SimHei", "Microsoft JhengHei","Times New Roman","����",Times,serif;
    color: #58666E;
    /*background-color: #F0F3F4;*/
}

select > option:active {
    background-color: #9588B2;
}