.main-view {
    margin-top: 20px;
    margin-bottom: 20px;
}
body {
    font-family: "microsoft yahei","SimHei", "Microsoft JhengHei","Times New Roman","����",Times,serif;
    color: #58666E;
    /*background-color: #F0F3F4;*/
}

html, body { height: 100%; }

select > option:active {
    background-color: #9588B2;
}


.login-body {
    background: #65cea7 url("../images/login-bg.jpg") no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.form-signin {
    max-width: 330px;
    margin: 100px auto;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-signin .form-signin-heading {
    margin: 0;
    padding: 25px 15px;
    text-align: center;
    color: #fff;
    position: relative;
}

.sign-title {
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: -60px;
    left: 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.form-signin .checkbox {
    margin-bottom: 14px;
    font-size: 13px;
}

.form-signin .checkbox {
    font-weight: normal;
    color: #fff;
    font-weight: normal;
    /*font-family: 'Open Sans', sans-serif;*/
    position: absolute;
    bottom: -50px;
    width: 100%;
    left: 0;
}

.form-signin .checkbox a, .form-signin .checkbox a:hover {
    color: #fff;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaec;
    background: #eaeaec;
    box-shadow: none;
    font-size: 12px;
}

.form-signin .btn-login {
    background: #6bc5a4;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    /*font-family: 'Open Sans', sans-serif;*/
    margin: 20px 0 5px;
    padding: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 30px;
}

.form-signin .btn-login:hover {
    background: #688ac2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.form-signin p {
    text-align: left;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: normal;
}

.form-signin a, .form-signin a:hover {
    color: #6bc5a4;
}

.form-signin a:hover {
    text-decoration: underline;
}

.form-signin label.error {
    margin: 5px 0;
    width: auto;
    color: #FF6C60;
}

.login-wrap {
    padding: 20px;
    position: relative;
}

.registration {
    color: #c7c7c7;
    text-align: center;
    margin-top: 15px;
}
.drop-zone {
    line-height: 120px;
    text-align: center;
    vertical-align: middle;
}

.my-drop-zone { border: dashed 3px lightgray; }
.nv-file-over { border: dashed 3px #7266BA; } /* Default class applied to drop zones on over */

.abort {

}
.upload {
    float: right;
}

.modal-dialog {
    width: 960px;
}

.modal-body {
    /*max-height: 600px;*/
}

.selete-reg {
    background-color: #f4f4f4;
    float: left;
}
.select-reg::before .select-reg::after {
    display: table;
    content: " ";

}


/*.selected {*/
    /*background-color: #F4F4F4;*/
    /*min-height: 4em;*/
    /*padding: 10px 16px;*/
    /*line-height: 30px;*/
    /*float: left;*/
/*}*/

.division {
    border-top: 3px solid #7266BA;
    margin-top: 1em;
}
.choices {
    min-height: 100px;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}
.route-mod {
    border-top: 1px solid #CCCCCC;
}

.route-mod .route-name {
    font-weight: 700;
    padding: 20px 16px;
    display: inline-block;

}
.route-element {
    float: left;
    margin: 4px;
    width: 128px;
    line-height: 20px;
    white-space: nowrap;
    /*transition: 0.2s ease-in-out;*/
}
.route-element {
    padding: 4px 10px;
    /*margin: 0 5px;*/
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.route-element {
 padding-left: 24px;
}
.route-element:hover {
    background-color: #8E94A2;
    cursor: pointer;
    /*color: #7266BA;*/
    /*text-decoration: underline;*/
}

.added {
    font-weight: bold;
    color: #7266BA;

}
.added > p {
    border: 1px solid #CCC;
}

.selected::after, .choices::after .select-reg::after{
    clear: both;
    content: " ";
    display: block;
}

.select-ele {
    float: left;
    margin: 8px;
    border: 1px dashed #5e5e5e;
}

.current-list {
	padding: 17px 10px 9px 3px;
    background: #eef2f3;
}

.current-list p {
	float: left;
	width: 120px;
	padding: 0 6px;
	border: 1px dashed #CCC;
	margin: 0 0 8px 11px;
	/*cursor: move;*/
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	/*font-size: 0;*/
	-webkit-text-size-adjust: none;
}
.current-list i{
    float: right;
    line-height: 30px;
    margin: 0 auto;
    cursor: pointer;
    height: 100%;
    color: #C9C9C9;
}

.current-list i:hover {
    color: #5e5e5e;
}


.route-list {
    border-top: 1px solid #CCCCCC;
    min-height: 100px;
    position: relative;
}

.route-list .route {
    float: left;
	width: 150px;
	height: 100%;
	text-align: right;
	border-top: 1px solid #5b6475;
	padding-top: 24px;
}

.buses {
    float: left;
    margin-left: 1.2em;
}
.element {
     padding: 4px 10px;
    /*margin: 0 5px;*/
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin: 4px;
    width: 128px;
    line-height: 20px;
}

.element:hover {
    background-color: #8E94A2;
    cursor: pointer;
    color: #ffffff;
}

.selected {
    /*padding: 4px;*/
    border: 1px solid #CCCCCC;
    background-color: #EEF2F3;
}

.selected:hover {
    background-color: #EEF2F3;
    color: #58666E;
    /*cursor: auto;*/
}

.commit {
    float: right;
}