<div class="busad-background">
  <div class="container">
    <div class="page">
    <!--<div class="page-inner">-->
      <!-- route-head-->
      <div class="row route-head">
        <div class="col-sm-4 route-item" ng-click="tabSelect(1)" ng-class="{'itemActive': busSelected}">公交</div>
        <div class="col-sm-4 route-item" ng-click="tabSelect(2)" ng-class="{'itemActive': routeSelected}">路线</div>
        <div class="col-sm-4 route-item" ng-click="tabSelect(3)" ng-class="{'itemActive': districtSelected}">区域</div>
      </div>
      <!-- /route-head-->
      <div class="page-inner">
        <div ng-show="busSelected">
          <div class="table">
            <table class="table table-bordered table-hover table-condensed">
              <tr style="font-weight: bold">
                <td style="width:20%">车牌</td>
                <td style="width:20%">车灯号</td>
                <td style="width:20%">路线</td>
                <td style="width:20%">EUI</td>
                <td style="width:20%">操作</td>
              </tr>
              <!-- /table head -->

              <!-- table body -->
              <tr ng-repeat="bus in buses">
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="bus.plate_number" e-name="plate_number" e-form="rowform" onbeforesave="checkPlateNum($data, bus)" e-required>
                    {{ bus.plate_number || 'empty' }}
                  </span>
                </td>
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="bus.light_number" e-name="light_number" e-form="rowform" onbeforesave="checkName($data, bus.id)" e-required>
                    {{ bus.light_number || 'empty' }}
                  </span>
                </td>
                <td>
                  <!-- editable status (select-local) -->
                  <span editable-select="bus.route_id" e-name="route_id" e-form="rowform" e-ng-options="r.id as r.route_name for r in routes">
                    <!--{{ bus.route_id}}-->
                    {{ showRoute(bus) }}
                  </span>
                </td>
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="bus.eui" e-name="eui" e-form="rowform" onbeforesave="checkEUI($data, bus.id)" e-required>
                    {{ bus.eui || 'empty' }}
                  </span>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveBus($data, bus, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == bus">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                      保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                      取消
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">编辑</button>
                    <button class="btn btn-danger" ng-click="removeBus($index, bus)">删除</button>
                  </div>
                </td>
              </tr>
              </table>

              <button class="btn btn-default" ng-click="addBus()">添加</button>

            </table>
          </div>

        </div>
        <!-- /bus-->
        <div ng-show="routeSelected">
          <div class="table">
            <table class="table table-bordered table-hover table-condensed">
              <tr style="font-weight: bold">
                <td style="width:33%">路线名</td>
                <td style="width:33%">所属区域</td>
                <td style="width:34%">操作</td>
              </tr>
              <!-- /table head -->

              <!-- table body -->
              <tr ng-repeat="route in routes">
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="route.route_name" e-name="route_name" e-form="rowform" onbeforesave="checkName($data, route.id)" e-required>
                    {{ route.route_name || 'empty' }}
                  </span>
                </td>
                <td>
                  <!-- editable status (select-local) -->
                  <span editable-select="route.district_id" e-name="district_id" e-form="rowform" e-ng-options="d.id as d.district_name for d in districts">
                    {{ showDistrict(route) }}
                    <!--{{ showRoute(bus) }}-->
                  </span>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveBus($data, bus)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == route">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                      保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                      取消
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">编辑</button>
                    <button class="btn btn-danger" ng-click="removeUser($index)">删除</button>
                  </div>
                </td>
              </tr>
              </table>

              <button class="btn btn-default" ng-click="addUser()">添加</button>

            </table>
          </div>
        </div>
        <!-- /route -->
        <div ng-show="districtSelected">
          <div class="table">
            <table class="table table-bordered table-hover table-condensed">
              <tr style="font-weight: bold">
                <td style="width:50%">区域名</td>
                <td style="width:50%">操作</td>
              </tr>
              <!-- /table head -->

              <!-- table body -->
              <tr ng-repeat="district in districts">
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="district.district_name" e-name="district_name" e-form="rowform" onbeforesave="checkName($data, district.id)" e-required>
                    {{ district.district_name || 'empty' }}
                  </span>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveBus($data, bus, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == district">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                      保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                      取消
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">编辑</button>
                    <button class="btn btn-danger" ng-click="removeUser($index)">删除</button>
                  </div>
                </td>
              </tr>
              </table>

              <button class="btn btn-default" ng-click="addBus()">添加</button>

            </table>
          </div>
        </div>
        <!-- /district -->

      </div>

    </div>
    <!-- /page-->
  </div>
  </div>
</div>