<div class="busad-background">
  <div class="container">
    <div class="page">
    <!--<div class="page-inner">-->
      <!-- route-head-->
      <div class="row route-head">
        <div class="col-sm-3 route-item" ng-click="tabSelect(4)" ng-class="{'itemActive': groupSelected}">组</div>
        <div class="col-sm-3 route-item" ng-click="tabSelect(1)" ng-class="{'itemActive': busSelected}">公交</div>
        <div class="col-sm-3 route-item" ng-click="tabSelect(2)" ng-class="{'itemActive': routeSelected}">路线</div>
        <div class="col-sm-3 route-item" ng-click="tabSelect(3)" ng-class="{'itemActive': districtSelected}">区域</div>
      </div>
      <!-- /route-head-->
      <div class="page-inner">
        <div ng-show="busSelected">
          <div class="table">
            <table class="table table-bordered table-hover table-condensed">
              <tr style="font-weight: bold">
                <td style="width:20%">车牌</td>
                <td style="width:20%">车灯号</td>
                <td style="width:20%">路线</td>
                <td style="width:20%">EUI</td>
                <td style="width:20%">操作</td>
              </tr>
              <!-- /table head -->

              <!-- table body -->
              <tr ng-repeat="bus in buses">
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="bus.plate_number" e-name="plate_number" e-form="rowform" onbeforesave="checkPlateNum($data, bus)" e-required>
                    {{ bus.plate_number || 'empty' }}
                  </span>
                </td>
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="bus.light_number" e-name="light_number" e-form="rowform" onbeforesave="checkName($data, bus.id)" e-required>
                    {{ bus.light_number || 'empty' }}
                  </span>
                </td>
                <td>
                  <!-- editable status (select-local) -->
                  <span editable-select="bus.route_id" e-name="route_id" e-form="rowform" e-ng-options="r.id as r.route_name for r in routes">
                    <!--{{ bus.route_id}}-->
                    {{ showRoute(bus) }}
                  </span>
                </td>
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="bus.eui" e-name="eui" e-form="rowform" onbeforesave="checkEUI($data, bus.id)" e-required>
                    {{ bus.eui || 'empty' }}
                  </span>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveBus($data, bus, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == bus">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                      保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                      取消
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">编辑</button>
                    <button class="btn btn-danger" ng-click="removeBus($index, bus)">删除</button>
                  </div>
                </td>
              </tr>
              </table>

              <button class="btn btn-default" ng-click="addBus()">添加</button>

            </table>
          </div>

        </div>
        <!-- /bus-->
        <div ng-show="routeSelected">
          <div class="table">
            <table class="table table-bordered table-hover table-condensed">
              <tr style="font-weight: bold">
                <td style="width:33%">路线名</td>
                <td style="width:33%">所属区域</td>
                <td style="width:34%">操作</td>
              </tr>
              <!-- /table head -->

              <!-- table body -->
              <tr ng-repeat="route in routes">
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="route.route_name" e-name="route_name" e-form="rowform" onbeforesave="checkName($data, route.id)" e-required>
                    {{ route.route_name || 'empty' }}
                  </span>
                </td>
                <td>
                  <!-- editable status (select-local) -->
                  <span editable-select="route.district_id" e-name="district_id" e-form="rowform" e-ng-options="d.id as d.district_name for d in districts">
                    {{ showDistrict(route) }}
                    <!--{{ showRoute(bus) }}-->
                  </span>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveRoute($data, route, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == route">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                      保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                      取消
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">编辑</button>
                    <button class="btn btn-danger" ng-click="removeRoute($index, route)">删除</button>
                  </div>
                </td>
              </tr>
              </table>

              <button class="btn btn-default" ng-click="addRoute()">添加</button>

            </table>
          </div>
        </div>
        <!-- /route -->
        <div ng-show="districtSelected">
          <div class="table">
            <table class="table table-bordered table-hover table-condensed">
              <tr style="font-weight: bold">
                <td style="width:50%">区域名</td>
                <td style="width:50%">操作</td>
              </tr>
              <!-- /table head -->

              <!-- table body -->
              <tr ng-repeat="district in districts">
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="district.district_name" e-name="district_name" e-form="rowform" onbeforesave="checkName($data, district.id)" e-required>
                    {{ district.district_name || 'empty' }}
                  </span>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveDistrict($data, district, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == district">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                      保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                      取消
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">编辑</button>
                    <button class="btn btn-danger" ng-click="removeDistrict($index, district)">删除</button>
                  </div>
                </td>
              </tr>
              </table>

              <button class="btn btn-default" ng-click="addDistrict()">添加</button>

            </table>
          </div>
        </div>
        <!-- /district -->

        <!-- group -->
        <div ng-show="groupSelected">
          <div class="table">
            <table class="table table-bordered table-hover table-condensed">
              <tr style="font-weight: bold">
                <td style="width:20%">组名</td>
                <td style="width:20%">组ID</td>
                <td style="width:20%">组EUI</td>
                <td style="width:20%">操作</td>
                <td style="width:20%">编辑组成员</td>
              </tr>
              <!-- /table head -->

              <!-- table body -->
              <tr ng-repeat="group in groups">
                <td>
                  <!-- editable username (text with validation) -->
                  <span editable-text="group.group_name" e-name="group_name" e-form="rowform" onbeforesave="checkName($data, group.id)" e-required>
                    {{ group.group_name || 'empty' }}
                  </span>
                </td>
                <td>
                  <span editable-text="group.group_id" e-name="group_id" e-form="rowform" onbeforesave="checkName($data, group.id)" e-required>
                    {{ group.group_id || ''}}
                  </span>
                </td>
                <td>
                  <span editable-text="group.group_eui" e-name="group_eui" e-form="rowform" onbeforesave="checkName($data, group.id)" e-required>
                    {{ group.group_eui || ''}}
                  </span>
                </td>

                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveGroup($data, group, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == group">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                      保存
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                      取消
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">编辑</button>
                    <button class="btn btn-danger" ng-click="removeGroup($index, group)">删除</button>
                  </div>
                </td>
                <td><a href="#/route/editgroup/{{group.id}}" class="btn btn-primary">添加成员</a></td>
              </tr>
              </table>
              <button class="btn btn-default" ng-click="addGroup()">添加</button>
            </table>

          </div>
        </div>  <!-- /group -->

      </div>

    </div>
    <!-- /page-->
    <!-- Modal -->
        <div class="modal fade" id="addBusModal" tabindex="-1" role="dialog" aria-labelledby="addBusModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">组名</h4>
              </div>
              <div class="modal-body">
                <div class="selete-reg">
                  <div class="selected" ng-repeat="bus in busesInGroup">
                    <div class="select-ele" data-groupId="{{ bus.id }}"> {{bus.name}}</div>
                  </div>
                </div>
                <div class="row division"></div>
                <div class="choices">
                  <div class="row route-mod">
                    <div class="col-xs-2 col-sm-2 col-md-2 ">
                      <div class="route-name">
                        车辆
                      </div>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 ">
                      <div ng-repeat="bus in buses">
                        <div class="route-element" ng-class="{added: selected}" ng-click="toggleAddBus()">{{bus.plate_number}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="row route-mod">route 2</div>
                  <div class="row route-mod">route 3</div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
             </div>
          </div>
        </div>
    <!-- /Modal -->

  </div>
  </div>
</div>